name: Server Performance Stats (Debug)

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  debug:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Show files in repo
        run: |
          echo "Current directory:"
          pwd
          echo "Files:"
          ls -la
